{% extends 'base.html' %} 
{% block main %}
<main>
  <div class="d-flex justify-content-between mt-5 mb-5">
    <div class="col-3">
      <div class="list-group list-group-light">
        {% for genre in genres %}
        <a
          href="{% url 'by_genre' genre.id %}"
          class="list-group-item list-group-item-action px-3 border-0"
          data-mdb-ripple-init
          >{{ genre.type }}</a
        >
        {% endfor %}
      </div>
    </div>
    <div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div class="col">
          <div class="card h-100">
            <a href="{% url 'by_movie' movie.id %}">
              {% if movie.cover %}
              <img
                src="{{ movie.cover.url }}"
                class="card-img-top"
                alt="Skyscrapers"
              />
              {% else %}
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/624px-No-Image-Placeholder.svg.png"
                class="card-img-top"
                alt="No Image Found"
              />
              {% endif %}
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">
                <b>Director: {{ movie.director }}</b>
                {{ movie.description|truncatewords:10 }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                Sana: {{ movie.release|date:"Y-m-d" }}</small
              >
              <p>Muallif: <a href="{% url 'profile' movie.author.username %}">{{ movie.author.username }}</a></p>
              {% if user.is_staff %}
              <a
                href="{% url 'delete_movie' movie.id %}"
                class="btn btn-sm btn-danger"
              >
                <i class="fas fa-trash"></i>
              </a>
              <a
                href="{% url 'update_movie' movie.id %}"
                class="btn btn-sm btn-primary"
              >
                <i class="fas fa-edit"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock main %}
