{% extends "base.html" %}

{% block main %}
<div class="container my-4">
  <h1 class="h4 mb-3"><i class="fa-solid fa-pen-to-square me-2"></i>{{ title }}</h1>
  <div class="card shadow-1">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-warning">Yangilash</button>
          <a href="{% url 'main' %}" class="btn btn-light">Bekor qilish</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
